<a href="https://colab.research.google.com/github/raj-kariya/woc5.0-ml-weather-prediction-case-study-Raj_Kariya/blob/main/checkpoint3_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)weather.csv

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')
import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_csv("gdrive/My Drive/Colab Notebooks/weather.csv")
print(df)

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [ ]:
df.isnull().sum()

precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In weather.csv there is no missing values.

**2**)Youtube Influencer Analysis.csv

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')
import pandas as pd
df2 = pd.read_csv("gdrive/My Drive/Colab Notebooks/Youtube Influencer Analysis - Updated.csv", encoding='cp1252')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df2

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,https://www.youtube.com/watch?v=GS18WawA-t0,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,https://www.youtube.com/c/SahilOnlineTVnews,Sahil Online TV News,NaN,594000,129926690,00:13:47,827.00,...,Yes,0,15,10/4/2022,1080,5024,36.0,No,1,Mafaz Ali
901,https://www.youtube.com/watch?v=_tc_APkjH2Q,"16,554",Amchi Nawayat Mehfil hee,https://www.youtube.com/sahilonline,Sahil Online TV News,NaN,594000,129926690,00:06:44,404.00,...,Yes,2,0,10/4/2022,720,5024,36.0,No,1,Mafaz Ali
902,https://www.youtube.com/watch?v=Xfj4osSYfhU,"32,798",Aas ge Kaagaz,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:06:24,384.00,...,Yes,3,0,8/4/2022,720,1018,13.0,No,1,Mafaz Ali
903,https://www.youtube.com/watch?v=mGEHqwVz0eI,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:04:39,279.00,...,Yes,3,0,8/4/2022,1080,1018,13.0,No,1,Mafaz Ali
904,https://www.youtube.com/watch?v=UGATpt0I4vA,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,https://www.youtube.com/c/SonySportsNetwork,Sony Sports Network,NaN,3980000,728858923,00:01:21,81.00,...,Yes,3,0,10/4/2022,1080,3014,124.0,No,0,Mafaz Ali

Counting the missing values in each column

In [ ]:
df2.isnull().sum()

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

In [ ]:
Y = df2.fillna(value = 0)

In [ ]:
df2.dropna()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
5,https://www.youtube.com/watch?v=_HwPGXsklyY,"257,334",HERO - Baananchige Oduva Baara,https://www.youtube.com/c/RishabShettyFilms,Rishab Shetty Films,Male,382000,154898226,00:06:01,361.00,...,Yes,1,387,4/24/2021,2160,94,14.0,No,0,Akhil Teja
10,https://www.youtube.com/watch?v=0BBROgyHlFE,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,https://www.youtube.com/c/JeremyEthier,Jeremy Ethier,Male,4690000,511124108,00:09:43,583.00,...,Yes,0,1558,21-09-2022,1080,216,8.0,No,0,prateek
11,https://www.youtube.com/watch?v=0HheRYQ9ass,"25,052",The BEST Mockups You Will Find Online!,Satori Graphics - YouTube,Satori,Male,999000,58048539,0:05:51,351.00,...,Yes,0,70,9/1/2022,1080,918,76.0,No,2,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,https://www.youtube.com/watch?v=3RMKX4Zzw68,"75,789",Tuzo Mog Maka Zala by Prajoth D'sa (Official L...,https://www.youtube.com/channel/UCzJU55wSd6YUh...,Prajoth D'sa,Male,8560,764691,00:04:31,271.00,...,Yes,0,29,9/20/2022,1080,27,14.0,No,1,Mafaz Ali
893,https://www.youtube.com/watch?v=kqQTNKotVYk,"1,640",NAACH [Konkani EDM] by Prajoth D'sa & Rosh Fer...,https://www.youtube.com/channel/UCzJU55wSd6YUh...,Prajoth D'sa,Male,8560,764691,00:02:45,165.00,...,Yes,0,59,9/20/2022,1080,27,14.0,No,1,Mafaz Ali
894,https://www.youtube.com/watch?v=DQFbTVntxxg,"491,854",Tunturu Alli Neera Haadu | Ankita Kundu | Cove...,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:04:06,246.00,...,Yes,0,495,9/26/2022,1080,48,5.0,Yes,0,Mafaz Ali
895,https://www.youtube.com/watch?v=PGgtx0E-Jws,"268,142",O Meghave - (Cover) By Ankita Kundu,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:05:07,307.00,...,Yes,3,325,10/1/2022,1080,48,5.0,Yes,0,Mafaz Ali
896,https://www.youtube.com/watch?v=tL-zKAkfFaw,"1,378,946",EE Sundara Beladingala | Cover | Ankita Kundu,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:04:33,273.00,...,Yes,2,824,10/4/2022,1080,48,5.0,Yes,0,Mafaz Ali

Dropping the columns which are irrelevant features in the model.

In [ ]:
Arr = ["Creator Gender","Video Description","Community Engagement (Posts per week)","No of Playlist","Subtitle","Date of the Last Comment"]
df2.drop(Arr,axis=1)

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,Date of Video Upload,No of Likes,Language of the Video,Hashtags,No of Comments,Maximum Quality of the Video,No of Videos the Channel,Premiered or Not,Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,40200,7964284,00:30:41,"1,841.00",7/29/2022,6700.0,Kannada,0,419,1080,462,No,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,920000,137535681,00:14:24,864.00,5/22/2022,7800.0,Telugu,1,189,1080,251,Yes,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,458,72945,0:08:12,492.00,2/9/2021,858.0,Hindi,0,0,720,158,No,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,1680000,541653219,0:01:06,66.00,9/13/2022,188.0,English,0,77,1080,46509,No,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,12100000,3600496171,0:07:40,460.00,3/21/2017,901000.0,English,0,28221,1080,2872,No,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,https://www.youtube.com/watch?v=GS18WawA-t0,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,https://www.youtube.com/c/SahilOnlineTVnews,Sahil Online TV News,594000,129926690,00:13:47,827.00,9/29/2022,235.0,Urdu + Arabic,0,15,1080,5024,No,Mafaz Ali
901,https://www.youtube.com/watch?v=_tc_APkjH2Q,"16,554",Amchi Nawayat Mehfil hee,https://www.youtube.com/sahilonline,Sahil Online TV News,594000,129926690,00:06:44,404.00,8/6/2017,117.0,Nawayathi,2,0,720,5024,No,Mafaz Ali
902,https://www.youtube.com/watch?v=Xfj4osSYfhU,"32,798",Aas ge Kaagaz,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,23500,5104872,00:06:24,384.00,1/3/2021,1.0,Nawayathi,3,0,720,1018,No,Mafaz Ali
903,https://www.youtube.com/watch?v=mGEHqwVz0eI,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,23500,5104872,00:04:39,279.00,3/6/2022,1.0,Urdu,3,0,1080,1018,No,Mafaz Ali
904,https://www.youtube.com/watch?v=UGATpt0I4vA,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,https://www.youtube.com/c/SonySportsNetwork,Sony Sports Network,3980000,728858923,00:01:21,81.00,9/25/2022,7600.0,English,3,0,1080,3014,No,Mafaz Ali

In [ ]:
from sklearn.preprocessing import LabelEncoder
 
le = LabelEncoder()
Arr=['Video Link','Video Title','Channel URL','Creator Name','Language of the Video','Intern Who Collected the Data','Date of Video Upload','Duration of Video','Premiered or Not']

for i in Arr:
     label = le.fit_transform(df2[i])
     Y.drop(i,axis=1,inplace=True)
     Y[i]=label

Y

,Video Views,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,No of Likes,Subtitle,Video Description,Hashtags,No of Comments,...,Community Engagement (Posts per week),Video Link,Video Title,Channel URL,Creator Name,Language of the Video,Intern Who Collected the Data,Date of Video Upload,Duration of Video,Premiered or Not
0,"146,059",Male,40200,7964284,"1,841.00",6700.0,No,Yes,0,419,...,1,277,659,525,615,7,2,466,603,0
1,"231,969",Male,920000,137535681,864.00,7800.0,No,Yes,1,189,...,2,278,154,202,122,16,2,381,426,1
2,878,Female,458,72945,492.00,858.0,No,Yes,0,0,...,0,279,219,571,576,3,9,232,701,0
3,"9,965",0,1680000,541653219,66.00,188.0,No,Yes,0,77,...,20,280,776,527,509,1,9,539,687,0
4,"39,780,561",0,12100000,3600496171,460.00,901000.0,yes,Yes,0,28221,...,1,281,44,128,580,1,6,295,699,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",0,594000,129926690,827.00,235.0,No,Yes,0,15,...,1,142,178,360,450,18,5,568,404,0
901,"16,554",0,594000,129926690,404.00,117.0,No,Yes,2,0,...,1,286,92,610,450,11,5,527,190,0
902,"32,798",0,23500,5104872,384.00,1.0,No,Yes,3,0,...,1,256,76,610,449,11,5,55,184,0
903,"1,503",0,23500,5104872,279.00,1.0,No,Yes,3,0,...,1,387,98,610,449,17,5,311,130,0
904,"429,966",0,3980000,728858923,81.00,7600.0,Yes,Yes,3,0,...,0,235,467,374,486,1,5,563,22,0

**3**)CarPrice_Assignment.csv

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')
import pandas as pd
df3 = pd.read_csv("gdrive/My Drive/Colab Notebooks/CarPrice_Assignment.csv", encoding='cp1252')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df3

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [ ]:
df3.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

There are no missing values in CarPrice_Assignment.csv file